<!DOCTYPE html>
<html>
	<head>
		<title>X - Road</title>
	</head>
	<body>
		<h2>Installation de X Road</h2>
		<%= render partial:"informations/add_informations", locals: {information: @information} %>
	</body>
</html>