<div class="container">
	<h2>Installation de X-Road</h2>
	<div class="row">
		<div class="col-5">
			<img src="http://abc.az/cdn/2018/january/29/xroadlll.jpg" class="image-logo">
		</div>
		<div class="col form-information">
			<%= render partial:"informations/add_informations", locals: {information: @information} %>
		</div>
	</div>
</div>
